<template>
    <div class="dashboard">
        <h1 class="subheading grey--text">Dashboard</h1>
        <v-container class="my-5">
            <v-card flat v-for="project in projects" :key="project.title">
                <v-layout row wrap :class="`pa-3 project ${project.status}`">
                    <v-flex xs12 md6>
                        <div class="caption grey--text">Project title</div>
                        <div>{{ project.title }}</div>
                    </v-flex>
                    <v-flex xs6 sm4 md2>
                        <div class="caption grey--text">Person</div>
                        <div>{{ project.person }}</div>
                    </v-flex>
                    <v-flex xs6 sm4 md2>
                        <div class="caption grey--text">Due by</div>
                        <div>{{ project.due }}</div>
                    </v-flex>
                    <v-flex xs2 sm4 md2>
                        <div class="caption grey--text">Status</div>
                        <div>{{ project.status }}</div>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>
            </v-card>
        </v-container>
    </div>
</template>
<script>
export default {
    data() {
        return {
            projects: [
                {
                    title: 'Design a new website',
                    person: 'The Net Ninja',
                    due: '1st Jan 2019',
                    status: 'ongoing',
                    content:
                        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, aut soluta! Aperiam ea eveniet consequuntur, doloribus error natus, deleniti reprehenderit sunt voluptatum, blanditiis maxime vero nihil a sequi velit non.'
                },
                {
                    title: 'Code up the homepage',
                    person: 'Chun Li',
                    due: '10th Jan 2019',
                    status: 'completed',
                    content:
                        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, aut soluta! Aperiam ea eveniet consequuntur, doloribus error natus, deleniti reprehenderit sunt voluptatum, blanditiis maxime vero nihil a sequi velit non.'
                },
                {
                    title: 'Design video thumbnails',
                    person: 'Ryu',
                    due: '20th Dec 2019',
                    status: 'completed',
                    content:
                        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, aut soluta! Aperiam ea eveniet consequuntur, doloribus error natus, deleniti reprehenderit sunt voluptatum, blanditiis maxime vero nihil a sequi velit non.'
                },
                {
                    title: 'Create a community forum',
                    person: 'Gouken',
                    due: '20th Oct 2018',
                    status: 'overdue',
                    content:
                        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, aut soluta! Aperiam ea eveniet consequuntur, doloribus error natus, deleniti reprehenderit sunt voluptatum, blanditiis maxime vero nihil a sequi velit non.'
                }
            ]
        };
    }
};
</script>

<style scoped>
.project.completed {
    border-left: 4px solid #3cd1c2;
}
.project.ongoing {
    border-left: 4px solid orange;
}
.project.overdue {
    border-left: 4px solid tomato;
}
</style>

