<template>
    <div>
        <hr>
        <h4>Buttons</h4>
        <hr>
        <v-btn class="pink white--text">Click me</v-btn>
        <v-btn dark depressed color="pink">Click me</v-btn>
        <v-btn flat color="pink">Click me</v-btn>

        <v-btn depressed class="pink white--text">
            <v-icon left>email</v-icon>
            <span>email me</span>
        </v-btn>

        <v-btn depressed small class="pink white--text">
            <v-icon small left>email</v-icon>
            <span>email me</span>
        </v-btn>

        <v-btn depressed large class="pink white--text">
            <span>email me</span>
            <v-icon large right>email</v-icon>
        </v-btn>

        <v-btn fab depressed small dark color="purple">
            <v-icon>favorite</v-icon>
        </v-btn>

        <hr>
        <h4>Fonts &amp; Colours</h4>
        <hr>
        <p
            class="red white--text"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa iste asperiores repellendus eos! Eum recusandae ab optio vitae ipsam rerum impedit necessitatibus nisi modi nulla iste harum perspiciatis, minima corrupti.</p>

        <p
            class="pink lighten-4 red--text text--darken-4"
        >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo natus repellendus ad nisi, beatae rerum magni aut dolores autem, fugit ipsa perferendis modi voluptas! Saepe voluptates eum iusto sit in!</p>

        <h1 class="display-4">Massive display</h1>
        <h4 class="display-1">Smaller display</h4>

        <p class="headline">This is a headline</p>
        <p class="subheading">This is a subheading</p>
        <p class="caption">This is a caption</p>

        <hr>
        <h4>Grid system / margins</h4>
        <hr>
        <v-container class="my-5">
            <v-layout row wrap>
                <v-flex xs12 md6>
                    <v-btn outline block class="primary">1</v-btn>
                </v-flex>
                <v-flex xs4 md2>
                    <v-btn outline block class="primary">2</v-btn>
                </v-flex>
                <v-flex xs4 md2>
                    <v-btn outline block class="primary">2</v-btn>
                </v-flex>
                <v-flex xs4 md2>
                    <v-btn outline block class="primary">2</v-btn>
                </v-flex>
            </v-layout>

            <v-layout row wrap justify-space-around>
                <v-flex xs4 md3>
                    <v-btn outline block class="success">1</v-btn>
                </v-flex>
                <v-flex xs4 md3>
                    <v-btn outline block class="success">2</v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>
