<template>
    <div class="team">
        <h1 class="subheading grey--text">Team</h1>
        <v-container class="my-5">content</v-container>
    </div>
</template>

<script>
export default {};
</script>

